@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Space Grotesk';
}

.nav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 8%;
    align-items: center;
    position: relative;
}

.nav ul li{
    display: inline-block;
    margin: 0 15px;
}

.nav ul li a{
    color: #1c1c1c;
    position: relative;
}

.nav ul li a::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #1c1c1c;
    transition: .6s;
}

.nav ul li a:hover:after{
    width: 100%;
}


.nav .social{
    display: flex;
    gap: 15px;
}

.nav .social .icon i{
    font-size: 1.1rem;
    transition: .6s;
    cursor: pointer;
}


.nav .social .icon:hover i{
    transform: translateY(-5px) scale(1.05);
}


.nav .fa-bars{
    font-size: 1.2rem;
    padding: 12px 13px;
    border: 1px solid #1c1c1c;
    cursor: pointer;
    transition: .6s;
    display: none;
}


.nav .fa-bars:hover{
    background-color: #5ddda0;
    border: #5ddda0;
}


/* Hero Section Started */

.hero-wrapper{
    padding: 5% 8%;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero .content{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero .content h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-size: 2.5rem;
}

.hero .content h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;

    font-size: 4.5rem;
}

.hero .content h1 i{
    color: #5ddda0;
}

.hero .content p{
    font-size: 16px;
    width: 80%;
    margin: 12px 0;
}

.buttons{
    display: flex;
    gap: 18px;
}

button{
    font-size: 1rem;
    /* border-radius: 5px; */
    padding: 8px 12px;
    background-color: #5ddda0;
    color: #000000;
    border: 1px solid #000000;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    transition: .6s;
    box-shadow: 5px 5px 0 black;
}

button:hover{
    box-shadow: -5px -5px 0 black;
}

.hero .image-container{
    width: 40%;
    position: relative;
}

.hero .image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.projects{
    position: absolute;
    top: 10%;
    right: -9%;
    border: 1px solid #000000;
    background-color: #fff;
    box-shadow: 5px 5px 0 black;
    padding: 2px 8px;
    transition: .6s;
}

.projects:hover, .experience:hover{
    box-shadow: -5px -5px 0 black;

}

.experience{
    position: absolute;
    bottom: 25px;
    left: 0;
    border: 1px solid #000000;
    background-color: #fff;
    box-shadow: 5px 5px 0 black;
    padding: 2px 8px;
    transition: .6s;

}
/* Hero Section Ended */


/* Services Section Started */

.services-wrapper{
    padding: 3% 8%;
}

.service{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.heading{
    font-size: 4rem;
    padding-left: 2%;
    border-left: 10px solid #5ddda0;
}

.service .cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
}

.service .cards .card{
    width: 100%;
    padding: 3% 5%;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    box-shadow: 5px 5px 0 #000000;
    transition: .6s;
}


.service .cards .card:hover{
    box-shadow: -5px -5px 0 #000000;
}


.service .cards .card h2{
    font-size: 2.1rem;
}

.service .cards .card p{
    font-size: 15px;
}

/* Services Section Ended */


/* Gallery Section Started */

.gallery-wrapper{
    padding: 5% 8%;
}

.gallery{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.gallery .post-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
    width: 100%;
}

.gallery .post-container .post{
    width: 45%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    gap: 15px;
}


.gallery .post-container .post:after{
    content: '';
    position: absolute;
    top: -100%;
    left: -15%;
    width: 110%;
    height: 5px;
    transform: rotate(-18deg);
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 15px #fff;
    transition: all .6s;
}


.gallery .post-container .post:hover:after{
    top: 110%;
    left: 0;
}

/* Gallery Section Ended */


.contact-wrapper{
    padding: 5% 8%;
}

.contact{
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 5px 5px 0 #000000;
    padding: 3% 5%;
}

.details{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 15px;
}

.contact .social{
    display: flex;
    gap: 20px;
}

.contact .social .icon{
    height: 35px;
    width: 35px;
    border: 1px solid #000000;
    border-radius: 50%;
    box-shadow: 3px 3px 0 #000000;
    transition: .6s;
    position: relative;
    cursor: pointer;
}

.contact .social .icon:hover{
    box-shadow: -3px -3px 0 #000000;
}


.contact .social .icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


form{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
    align-items: flex-start;
    margin-top: 50px;
}

form input, textarea{
    padding: 1%;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #000000;
    font-size: 1.3rem;
}

form button{
    width: 10%;
}


.footer{
    padding: 5% 8%;
    text-align: center;
}

@media (max-width: 900px) {

    .nav .fa-bars{
        display: block;
    }

    ul{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        z-index: 99;
        background-color: #1c1c1c;
        transition: .6s;
        opacity: 0;
    }

    .nav ul li{
        display: block;
        margin: 18px 0;
        padding-left: 8% !important;
        padding: 5px 0;
    }

    .nav ul li a {
        color: #5ddda0;
    }

    .nav ul li a:after{
        background-color: #5ddda0;
    }

    .nav .show{
        height: 58vh;
        opacity: 1;
    }

    .hero{
        flex-direction: column;
    }

    
    .hero .content{
        width: 100%;
    }

    .hero .image-container{
        width: 80%;
        margin: 50px;
    }

    /* Hero Section Ended */

    form button{
        width: 25%;
    }

}

@media (max-width: 768px) {
    #nav-social{
        display: none;
    }

    #social-icon{
        display: flex !important;
    }

    .nav .show{
        height: 65vh;
        opacity: 1;
    }

    .nav .social .icon i{
        color: #5ddda0;
    }


    .service .cards{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 500px) {
    .nav .show{
        height: 70vh;
    }

    .projects, .experience{
        display: none;
    }
    
    .service .cards .card h2{
        font-size: 1.5rem;
    }

    form button{
        width: 40%;
    }
}